.skill{
    width: 350px;
   background-color: rgb(252, 243, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.icon{
    width: 60px;
    height: 60px;
    background-color: gray;
}