.nav{

    /*//width: 300px;*/
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.nav a {
    color: #ffffff;


    text-decoration: solid;
    font: 300 20px/1.1 'Poppins', sans-serif;
}

